.App {
  text-align: center;
  font-size: 600%;
  color:white;
  height:100vh;
  background-size: cover;
  background-repeat: no-repeat;
  
}
*{
  margin:0;
  padding:0
}
#p1{
  padding-top:25%
}
h6{
  font-size: 30%;
  margin-top:-0.1%;
}
span{
  font-size:60%; 
}

